.map-holder{
	margin-bottom: 5em;

	#map{
		width: 90%;
		margin: 0 5%;
		height: 400px;
		border: 1px solid $blue;

		@media screen and (min-width: 1000px){
			height: 500px;
		}
	}

	.error{
		color: $red;
	}
}