html{
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  color: #444;
}

*, *:before, *:after {
  box-sizing: inherit;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.center{
	text-align: center;
}

.container{
	width: 100%;
	padding: 0 2.5%;
}

.hidden{
	display: none;
}

dd{
	margin: 0;
}

a{
 text-decoration: none;
}


